body {
  
  background: URL(https://ak.picdn.net/shutterstock/videos/14162870/thumb/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}


img {
  
  width: 125px;

}

.start-game{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10;
  
}

#container {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  
  -webkit-perspective: 800;
  /* For compatibility with iPhone 3.0, we leave off the units here */
  -webkit-perspective-origin: 50% 225px;
}

#stage {
  width: 100%;
  height: 100%;
  
  -webkit-transition: -webkit-transform 2s;
  -webkit-transform-style: preserve-3d;
}

#shape {
  
  position: relative;
  top: 140px; /* // to change where the flim reel starts on the y axis; */
  margin: 0 auto;
  height: 200px;
  width: 200px;
  -webkit-transform-style: preserve-3d;
}

.plane {
  position: absolute;
  border: 1px dashed black;

  -webkit-transition: -webkit-transform 1s, opacity 2s;
  -webkit-backface-visibility: hidden;/* // hides the back of the image */
}

#shape {
  -webkit-animation: spin 30s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0);
  }

  to {
    -webkit-transform: rotateY(-360deg);
  }
}



/* ---------- ring styles ------------- */
.ring>.one {
  -webkit-transform: translateZ(380px);
}

.ring>.two {
  -webkit-transform: rotateY(30deg) translateZ(380px);
}

.ring>.three {
  -webkit-transform: rotateY(60deg) translateZ(380px);
}

.ring>.four {
  -webkit-transform: rotateY(90deg) translateZ(380px);
}

.ring>.five {
  -webkit-transform: rotateY(120deg) translateZ(380px);
}

.ring>.six {
  -webkit-transform: rotateY(150deg) translateZ(380px);
}

.ring>.seven {
  -webkit-transform: rotateY(180deg) translateZ(380px);
}

.ring>.eight {
  -webkit-transform: rotateY(210deg) translateZ(380px);
}

.ring>.nine {
  -webkit-transform: rotateY(-120deg) translateZ(380px);
}

.ring>.ten {
  -webkit-transform: rotateY(-90deg) translateZ(380px);
}

.ring>.eleven {
  -webkit-transform: rotateY(300deg) translateZ(380px);
}

.ring>.twelve {
  -webkit-transform: rotateY(330deg) translateZ(380px);
}

